*{
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.banner{
    background-image: url(/portfolio/imgs/1686469798165.jpg);
    padding: 250px 0;
    background-size:cover;
    background-repeat: no-repeat;
}
.skills-padding{
    color: rgb(10, 28, 76);
    padding: 40px 0;
}
.Contact{
    background-color: rgb(10, 28, 76);
    color: rgb(13, 202, 240);
    padding: 40px 0;
}
